.boton-clear{
    height: 80px;
    font-size: 30px;
    display: flex;
    flex: 1;
    background-color: #bb0010;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 40px;
}

.boton-clear:hover{
    background-color: #990008;
}
