.boton-contenedor{
    height: 83px;
    display: flex;
    flex:1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b2b62;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}
.boton-contenedor:hover{
    background-color: #051a41;
}

.operador{
    background-color: #cc4624;
}
.operador:hover{
    background-color: #aa3413;
}